@model List<News>

@{
    ViewData["Title"] = "Home Page";
}


<!-- CONTENT BEGINS -->
<div id="content">
    <div>
        <!-- INDEX SLIDER BEGINS -->
        <div id="index_slider" class="">
            <div class="video">
                <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="100%" height="400" data-setup="{}">
                    <source src="#" type="video/mp4" />
                    <source src="#" type="video/webm" />
                    <source src="#" type="video/ogg" />
                    <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
                    <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
                </video>
            </div>    
        <div class="data">
                <img src="upload/tr/DRD_tr.jpg" alt="Doktor Dulitlın maraqlı səyahəti" data-link="#!link1" data-price="Doktor Dulitlın maraqlı səyahəti" data-price title="Yeddi il əvvəl Viktoriya d&ouml;vr&uuml; İngiltərəsində yaşayan, tanınmış veterinar, həkim Dulitl həyat yoldaşını itirdi. İndi o, &ouml;z evinin h&uuml;nd&uuml;r divarları arxasında gizlənərək tənha həyat s&uuml;r&uuml;r. Kolleksiyasından olan ekzotik heyvanlar hazırda onun yeganə dostlarıdır." data-video="">
                <img src="upload/sm/GENTLEMEN_tr.html" alt="Centlmenlər" data-link="#!link2" data-price="Centlmenlər" data-price title="Талантливый выпускник Оксфорда, применив свой уникальный ум и невиданную дерзость, придумал нелегальную схему обогащения с использованием поместья обедневшей английской аристократии..." data-video="">
                <img src="upload/tr/sonic_tr.jpg" alt="Sonik" data-link="#!link3" data-price="Sonik" data-price title="A&ccedil;ıq-mavi kirpi Sonik yeni tapdığı insane dostu Tom Va&ccedil;ovski ilə birlikdə Yer K&uuml;rəsindəki həyatın &ccedil;ətinlikləri ilə tanış olur. Doktor Robot&ccedil;u isə Soniki əsir g&ouml;t&uuml;rərək, onun qeyri-məhdud super g&uuml;c&uuml;ndən istifadə edərək, d&uuml;nya &uuml;zərində hakimiyyətə nail olmağa &ccedil;alışır." data-video="">
                <img src="upload/tr/receb-iv-6_tr.jpg" alt="Receb İverdik 6" data-link="#!link4" data-price="Receb İverdik 6" data-price title="Receb İvedikin həyatı aldığı dəvətdən sonra tam dəyişir. Reveb quru fasulye festivalına dəvət olunur. Dəvəti məmnuniyyətlə qəbul edən Receb, dostu Nurullahı da g&ouml;t&uuml;r&uuml;b Konyaya yola &ccedil;ıxır. Səyahətin ən başından fərqli-fərqli macəralara d&uuml;şən ikili, mənzil başına &ccedil;atdıqda Konya əvəzinə Kenyaya gəldiklərini g&ouml;r&uuml;rlər. Agentliyi səhvi ucbatından Kenyaya gəlib d&uuml;şən Receb və Nurullah T&uuml;rkiyəyə geri qayıtmağın yollarını axtarır. Tanımadıqları &ouml;lkəyə d&uuml;şən dostlar burada iki d&uuml;şmən qəbilənin arasında qalır." data-video="">
                <img src="upload/tr/Gelersen-Gorersen-tr.jpg" alt="Gələrsən görərsən" data-link="#!link5" data-price="Gələrsən görərsən" data-price title="Bir nənənin &uuml;&ccedil; nəvəsi olur. Bunların hərəsinin başına bir iş gəlir və hamısına pul lazım olur. Nənə bunların əlindən bezir və şərt qoyur. &ldquo;Kim sevdiyi qızla gəlsə və mənim şərtlərimə, sınaqlarıma 3 g&uuml;n ərzində d&ouml;zsə, ona əlli min manat pul verəcəm&rdquo; deyir. Sonra iki nəvəsi qızla, biri isə oğlan dostuna qadın paltarı geyindirib, gətirir. Nənə 3 g&uuml;n ərzində bu qızları sınağa &ccedil;əkərək, başlarına oyun a&ccedil;ır." data-video="">
                <img src="upload/tr/tr.%5b1%5d.jpg" alt="1917" data-link="#!link6" data-price="1917" data-price title="1917-ci il, Birinci D&uuml;nya M&uuml;haribəsinin qaynar ili. İki gənc əsgərə &ouml;l&uuml;mc&uuml;l təhl&uuml;kəli missiya həvalə edirlər. Onlarl d&uuml;şmən ərazisini ke&ccedil;ərək y&uuml;zlərlə əsgərin həyatını xilas edəcək məlumatı gətirməlidirlər. Onlar zaman yarışını qazana biləcəklərmi?" data-video="">
                <img src="upload/tr/aman-reis-TR.jpg" alt="Aman reis duymasın" data-link="#!link7" data-price="Aman reis duymasın" data-price title="Eşkiya D&uuml;nyaya H&uuml;k&uuml;mdar Olmaz serialının yeraltı d&uuml;nyasının tanınmışları həyat yoldaşları ilə birlikdə yay tətilinə &ccedil;ıxmağa qərar verirlər...." data-video="">
                <img src="upload/tr/KARAKOMIKFILMLER2_TR.jpg" alt="Karakomik filmlər 2" data-link="#!link8" data-price="Karakomik filmlər 2" data-price title="Ssenaristi və rejissoru Cem Yılmaz olan &laquo; Karakomik filmler&raquo; silsiləsinin davam filmi olan &laquo;Karakomik filmler 2&raquo; &laquo;Deli&raquo; və &laquo;Emanet&raquo; adında iki filmdən ibarətdir. Deli, ən b&ouml;y&uuml;k xəyalı sevdiyi qızın qarşısında oturmaq olan bir taksi s&uuml;r&uuml;c&uuml;s&uuml;n&uuml;n gecə n&ouml;vbəsində başına gələn hadisələrdən bəhs edir. &laquo;Emanet&raquo; isə istedad m&uuml;sabiqələrinə qatılıb bu yolla məşhur olmağın xəyalını quran bir rəqqasın hekayəsindən bəhs edir." data-video="">
                <img src="upload/tr/FINAL-QIZQACIRTMA-3-tr.jpg" alt="Qızqaçırtma 3" data-link="#!link9" data-price="Qızqaçırtma 3" data-price title="&ldquo;Qızqa&ccedil;ırtma-3&rdquo; filmində hadisələr 3 dost - Təzəkişi, Məlik və Məmmədin başına gəlir.Əsgərlikdə olan dostları Məlikin sevdiyi qızın ayrı bir oğlanla nişanlandığını eşidən Məmməd və Təzəkişi dostlarının sevgilisini qa&ccedil;ırtmaq qərarına gəlirlər.Karate &uuml;zrə d&uuml;nya &ccedil;empionu olan qızı qa&ccedil;ırtmaq, dostlara elə də asan gəlmir." data-video="">
                <img src="upload/tr/baba-parasi-TR.jpg" alt="Baba parası" data-link="#!link10" data-price="Baba parası" data-price title="&Ouml;lkənin ən zəngin insanının qanundan kənar uşaqları, atalarının pl&uuml;m&uuml;ndən sonra b&ouml;y&uuml;k bir sərvət sahibi olurlar. Bir-birindən fərqli xarakterə, mədəniyyətə və yaşam tərzinə malik &ouml;vladlar &ouml;z paylarına d&uuml;şən mirası almaq &uuml;&ccedil;&uuml;n hərəkətə ke&ccedil;dikləri vaxt g&ouml;zlənilməz hadisə ilə qarşı qarşıya qalırlar. .." data-video="">
            </div>

            <section class="slider">
                <div class="image"><a href="#!link1"><img src="upload/tr/DRD_tr.jpg" alt="" /></a></div>
                <div class="price"><span>Doktor Dulitlın maraqlı səyahəti</span><strong></strong></div>
                <h1>
                    <strong>Doktor Dulitlın maraqlı səyahəti</strong>
                    <span>Yeddi il əvvəl Viktoriya d&ouml;vr&uuml; İngiltərəsində yaşayan, tanınmış veterinar, həkim Dulitl həyat yoldaşını itirdi. İndi o, &ouml;z evinin h&uuml;nd&uuml;r divarları arxasında gizlənərək tənha həyat s&uuml;r&uuml;r. Kolleksiyasından olan ekzotik heyvanlar hazırda onun yeganə dostlarıdır.</span>
                </h1>
            </section>    <div class="bullets"><a href="#" class="active"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a></div>
            <div class="arrows">
                <a href="#" class="prev"></a>
                <a href="#" class="next"></a>
            </div>
            <a href="#" class="play"></a>
        </div>                <!-- INDEX SLIDER ENDS -->
        <!-- SCHEDULE BEGINS -->
        <div id="last_films">
            <div class="tabs">
                <ul>
                    <li><a href="javascript:;" class="active">bugün</a></li>
                    <li><a href="javascript:;">sabah</a></li>
                    <li><a href="javascript:;">tezliklə</a></li>
                </ul>
            </div>

            <div class="list">
                <ul>
                    <li>
                        <figure>
                            <div class="image"><a href="film/966/index.html"><img src="upload/noyabr%2021/ZORAKIMISAFIR_POSTER-A0-AZ_s.jpg" alt="Zoraki misafir" /><em></em></a></div>
                            <figcaption><a href="film/966/index.html">Zoraki misafir</a></figcaption>
                            <div class="info">
                                <div>
                                    <h2>Zoraki misafir</h2>
                                    <ul>
                                        <li><span>Premyera:</span> 11.11.2021</li>
                                        <li><span>Janr:</span> komediya</li>
                                        <li><span>Yaş məhdudiyyəti:</span> 14+</li>
                                        <li><span>Rollarda:</span> Murat Akkoyunlu, Bengi İdil Uras, Mustafa Üstündağ, Sera Tokdemir, Uğur Yücel, Ayşe Kökçü, Mert Türkoğlu, Zehra Yılmaz və b.</li>
                                    </ul>
                                    <div class="seans">
                                        <ul><li><span>Zal 1:</span> <span><a href="javascript:;" title="6 AZN">10:15</a></span></li><li><span>Zal 3:</span> <span><a href="javascript:;" title="6 AZN">12:10</a></ul>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure>
                            <div class="image"><a href="film/969/index.html"><img src="upload/noyabr%2021/ask_yolunda_poster-copy.jpg" alt="Aşk yolunda" /><em></em></a></div>
                            <figcaption><a href="film/969/index.html">Aşk yolunda</a></figcaption>
                            <div class="info">
                                <div>
                                    <h2>Aşk yolunda</h2>
                                    <ul>
                                        <li><span>Premyera:</span> 19.11.2021</li>
                                        <li><span>Janr:</span> komediya, romantik</li>
                                        <li><span>Yaş məhdudiyyəti:</span> 14+</li>
                                        <li><span>Rollarda:</span> Çiğdem Batur, Asuman Dabak, Şahin Irmak, Ayhan Taş, Bora Cengiz, Bengi İdil Uras, Çetin Altay, Halil İbrahim Kayacıoğlu və b.</li>
                                    </ul>
                                    <div class="seans">
                                        <ul><li><span>Zal 1:</span> <span><a href="javascript:;" title="8 AZN">18:15</a></span></li><li><span>Zal 2:</span> <span><a href="javascript:;" title="6 AZN">15:20</a><a href="javascript:;" title="6 AZN">13:30</a></span></li><li><span>Zal 3:</span> <span><a href="javascript:;" title="6 AZN">10:25</a></ul>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure>
                            <div class="image"><a href="film/972/index.html"><img src="upload/noyabr%2021/EYTANI%20ARARKEN%20SAYT.jpg" alt="Şeytanı ararken" /><em></em></a></div>
                            <figcaption><a href="film/972/index.html">Şeytanı ararken</a></figcaption>
                            <div class="info">
                                <div>
                                    <h2>Şeytanı ararken</h2>
                                    <ul>
                                        <li><span>Premyera:</span> 21.11.2021</li>
                                        <li><span>Janr:</span> qorxu, dəhşət</li>
                                        <li><span>Yaş məhdudiyyəti:</span> 18+</li>
                                        <li>
                                            <span>Rollarda:</span> Can Şallıoğlu, Metin Yüksel, Damla Nur Yılmaz, Kübra Kadı, Büşra Kaplan, Nehir Önder, Tuğçe
                                            Özal.
                                        </li>
                                    </ul>
                                    <div class="seans">
                                        <ul></span>
                    </li>
                    <li><span>Zal 3:</span> <span><a href="javascript:;" title="8 AZN">17:05</a>
                </ul>
            </div>
        </div>
    </div>
    </figure>
    <figure>
        <div class="image"><a href="film/973/index.html"><img src="upload/noyabr%2021/aylak%20sayt.jpg" alt="Aylak takımı" /><em></em></a></div>
        <figcaption><a href="film/973/index.html">Aylak takımı</a></figcaption>
        <div class="info">
            <div>
                <h2>Aylak takımı</h2>
                <ul>
                    <li><span>Premyera:</span> 25.11.2021</li>
                    <li><span>Janr:</span> komediya</li>
                    <li><span>Yaş məhdudiyyəti:</span> 14+</li>
                    <li>
                        <span>Rollarda:</span> Tuna Arman, Zeynep Batur, Mert Topuz, Yıldız Asyalı, Hakan Burak Bozdoğan, Hazan Damla
                        Canbaz, Metin Yıldırım və b.
                    </li>
                </ul>
                <div class="seans">
                    <ul></span></li><li><span>Zal 1:</span> <span><a href="javascript:;" title="6 AZN">14:25</a></ul>
                </div>
            </div>
        </div>
    </figure>
    <figure>
        <div class="image"><a href="film/975/index.html"><img src="upload/noyabr%2021/drakulla%20sayt.jpg" alt="Drakulla" /><em></em></a></div>
        <figcaption><a href="film/975/index.html">Drakulla</a></figcaption>
        <div class="info">
            <div>
                <h2>Drakulla</h2>
                <ul>
                    <li><span>Premyera:</span> 26.11.2021</li>
                    <li><span>Janr:</span> komediya</li>
                    <li><span>Yaş məhdudiyyəti:</span> 14+</li>
                    <li>
                        <span>Rollarda:</span> Rəsul Abbasov, Nəfəs Məmmədli, Elşad Zarafatsız, Mətləb Səfərli, Novruz Qartal, Gülçöhrə
                        Abdullayeva, Nadir Məmmədov, Mirzə Ağabəyli və b.
                    </li>
                </ul>
                <div class="seans">
                    <ul></span></li><li><span>Zal 2:</span> <span><a href="javascript:;" title="8 AZN">17:10</a></ul>
                </div>
            </div>
        </div>
    </figure>
    <figure>
        <div class="image"><a href="film/976/index.html"><img src="upload/Dekabr%2021/gucci-evi.jpg" alt="Gucci Evi" /><em></em></a></div>
        <figcaption><a href="film/976/index.html">Gucci Evi</a></figcaption>
        <div class="info">
            <div>
                <h2>Gucci Evi</h2>
                <ul>
                    <li><span>Premyera:</span> 02.12.2021</li>
                    <li><span>Janr:</span> bioqrafiya, dram, triller</li>
                    <li><span>Yaş məhdudiyyəti:</span> 18+</li>
                    <li>
                        <span>Rollarda:</span> Ledi Qaqa, Adam Drayver, Cared Leto, Ceremi Ayrons, Cek Hyuston, Salma Hayek, Al Paçino,
                        Aleksiya Castin Myurrey və b.
                    </li>
                </ul>
                <div class="seans">
                    <ul><li><span>Zal 1:</span> <span><a href="javascript:;" title="8 AZN">20:05</a></span></li><li><span>Zal 2:</span> <span><a href="javascript:;" title="6 AZN">10:40</a></span></li><li><span>Zal 3:</span> <span><a href="javascript:;" title="6 AZN">14:15</a></ul>
                </div>
            </div>
        </div>
    </figure>
    <figure>
        <div class="image"><a href="film/977/index.html"><img src="upload/noyabr%2021/aykut%20sayt.jpg" alt="Aykut enişte 2" /><em></em></a></div>
        <figcaption><a href="film/977/index.html">Aykut enişte 2</a></figcaption>
        <div class="info">
            <div>
                <h2>Aykut enişte 2</h2>
                <ul>
                    <li><span>Premyera:</span> 02.12.2021</li>
                    <li><span>Janr:</span> komediya</li>
                    <li><span>Yaş məhdudiyyəti:</span> 16+</li>
                    <li><span>Rollarda:</span> Müfit Kayacan, Melis Babadağ, Cem Gelinoğlu, Hakan Yılmaz, Lale Başar</li>
                </ul>
                <div class="seans">
                    <ul><li><span>Zal 1:</span> <span><a href="javascript:;" title="6 AZN">16:05</a><a href="javascript:;" title="6 AZN">12:15</a></span></li><li><span>Zal 3:</span> <span><a href="javascript:;" title="8 AZN">20:35</a><a href="javascript:;" title="8 AZN">18:25</a></ul>
                </div>
            </div>
        </div>
    </figure>
    <figure>
        <div class="image"><a href="film/978/index.html"><img src="upload/Dekabr%2021/5beter%20sayt.jpg" alt="Beş betər" /><em></em></a></div>
        <figcaption><a href="film/978/index.html">Beş betər</a></figcaption>
        <div class="info">
            <div>
                <h2>Beş betər</h2>
                <ul>
                    <li><span>Premyera:</span> 02.12.2021</li>
                    <li><span>Janr:</span> komediya</li>
                    <li><span>Yaş məhdudiyyəti:</span> 12+</li>
                    <li><span>Rollarda:</span> Elməddin Cəfərov, Fərda Amin, Dilarə Əliyeva, Məcid Hüseynov, Elcan Rəsulov və b.</li>
                </ul>
                <div class="seans">
                    <ul><li><span>Zal 2:</span> <span><a href="javascript:;" title="8 AZN">20:40</a><a href="javascript:;" title="8 AZN">18:55</a></ul>
                </div>
            </div>
        </div>
    </figure></li>
    <li style="display:none;"></li>
    <li style="display:none;"></li>
    </ul>
    <div class="cb"></div>
</div>
</div>                <!-- SCHEDULE ENDS -->
<div id="three_block">
    <div class="index_banner1">
        <div class="banner1"><object width="290" height="130" data="upload/banners/240x120.html" type="application/x-shockwave-flash"><param name="src" value="upload/banners/240x120.html"></object></div>
        <div class="banner2"><object width="290" height="130" data="upload/banners/255x120.html" type="application/x-shockwave-flash"><param name="src" value="upload/banners/255x120.html"></object></div>
        <div class="banner3"><object width="290" height="130" data="upload/banners/240x120.html" type="application/x-shockwave-flash"><param name="src" value="upload/banners/240x120.html"></object></div>
        <div style="clear: both"></div>
    </div>
</div>

<div id="three_block">
    <!-- NEWS BEGINS -->

    <article>
        <h2>Xəbərlər</h2>
        <div class="news_list">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <div class="time">
                            <span>@item.CreatedDate.ToString("dd")</span>
                            <strong>@item.CreatedDate.ToString("MMMM")</strong>
                        </div>
                        <h3><a href="#">@item.Title</a></h3>
                    </li>
                }
            </ul>
            <div class="more"><a href="news/10/index.html">Bütün xəbərlər</a></div>
        </div>
    </article>                    <!-- NEWS END -->
    <!-- NEWS BEGINS -->
    <article>
        <h2>Azərbaycan kino inciləri</h2>
        <div id="poster_slider">
            <div class="slides">
                <ul>
                    <li><a href="pages/25/Arshin_mal_alan.html"><img src="upload/kinolar/Arsin%20mal%20alan45%20-4.jpg" alt="Arşın mal alan" /><em></em></a></li>
                    <li><a href="pages/26/O_olmasin_bu_olsun.html"><img src="upload/kinolar/O%20olmasin%20bu%20olsun%203.jpg" alt="O olmasın bu olsun" /><em></em></a></li>
                    <li><a href="pages/31/Ogey_ana.html"><img src="upload/kinolar/Ogey%20ana.jpg" alt="Ögey ana" /><em></em></a></li>
                </ul>
            </div>
            <div class="arrows">
                <a href="#" class="prev"></a>
                <a href="#" class="next"></a>
            </div>
        </div>
    </article>                    <!-- NEWS END -->
    <!-- ABOUT BEGINS -->
    <article>
        <h2>Haqqımızda</h2>
        <div class="text">
            <p>"2008-2018-ci illərdə Azərbaycan kinosunun inkişafına dair D&ouml;vlət Proqramı"na əsasən 27 dekabr 2011-ci il tarixdə b&ouml;y&uuml;k yenidən qurma işlərindən&nbsp; sonra &ouml;lkənin ən qədim kinoteatrlarından olan "Nizami"nin&nbsp; təntənəli a&ccedil;ılışı oldu. Təmirdən sonra kinoteatra Kino Mərkəz statusu verildi, burada d&uuml;nya kinosunun ən maraqlı yeni filmlərini əhatə edən cari repertuar filımləri ilə yanaşı milli filmlərin təqdimatları, xarici &ouml;lkələrin Kino g&uuml;nləri və Kino həftələri ke&ccedil;irilməyə başlamışdır. Gələcəkdə isə bir &ccedil;ox maraqlı tədbirlərin ke&ccedil;irilməsi planlaşdırılır...</p>        <div class="more"><a href="pages/3/index.html">Ətraflı</a></div>
        </div>
    </article>                    <!-- ABOUT END -->
</div>
<div id="three_block">
    <div class="index_banner2">
        <div class="banner1"><object width="440" height="100" data="upload/banners/468x60_1.html" type="application/x-shockwave-flash"><param name="src" value="upload/banners/468x60_1.html"></object></div>
        <div class="banner2"><object width="440" height="100" data="upload/banners/468x60_2.html" type="application/x-shockwave-flash"><param name="src" value="upload/banners/468x60_2.html"></object></div>
        <div style="clear: both"></div>
    </div>
</div>
<div id="index_contact">
    <!--
    <div class="contact_form">
        <form action="simple.php">
            <ul>
                <li><input type="text" placeholder="имя"></li>
                <li><input type="text" placeholder="E-mail"></li>
                <li><textarea placeholder="Текст сообщения"></textarea></li>
            </ul>
            <div class="send"><button type="submit">Отправить</button></div>
        </form>
    </div>
    -->
    <div class="contact_text">
        <p><strong>&Uuml;nvan:</strong> <strong>&nbsp; B&uuml;l-b&uuml;l prospekti 20,Bakı AZ1014 &nbsp;Azərbaycan</strong></p>
        <p>&nbsp;</p>
        <p><strong>Telefon: (+99412) 493 28 18</strong></p>
        <p>&nbsp;</p>
        <p><strong>E-mail: &nbsp;</strong><a href="http://marketingideas.az/nizamicinema.az//">contact@nizamicinema.az</a></p>
        <p>&nbsp;</p>
    </div>
    <div id="map" data-latitude="40.375402" data-longitude="49.843355" data-zoom="18"></div>
</div>            </div>
        </div>
<!-- CONTENT END -->