﻿
<!DOCTYPE HTML>
<html>

<!-- Mirrored from nizamicinema.az/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Dec 2021 10:49:54 GMT -->
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="Nizami, Kino, Mərkəzi, Cinema, 3D, 2D, afişa, tezliklə, bilet" />
    <meta name="description" content="Nizami Kino Mərkəzi" />
    <title>Nizami Kino Mərkəzi</title>

    <base />
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="css/reset.css" rel="stylesheet" type="text/css" />
    <link href="css/video-js.css" rel="stylesheet" type="text/css" />
    <link href="css/font/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32844382-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body itemscope itemtype="http://schema.org/WebPage">

    <!-- BACKGROUND BEGINS -->
    <div id="resize">
        <div><img src="upload/BG/BG-2.%5b1%5d.jpg" alt="" /></div>
    </div>    <!-- BACKGROUND END -->
    <!-- HEADER BEGINS -->
    <header id="header">
        <h1 class="logo"><a role="banner" href="index.html" title="Nizami Kino Mərkəzi">Nizami Kino Mərkəzi</a></h1>
        <!--<div class="lang">
            <ul>
                <li><a href="#"><img src="img/az.png" alt=""></a></li>
                <li><a href="#"><img src="img/ru.png" alt=""></a></li>
            </ul>
        </div>-->
        <div class="socials">
            <ul>
                <li><a href="https://www.facebook.com/NizamiCinema" class="facebook" target="_blank"></a></li>
                <li><a href="http://www.youtube.com/user/NizamiCinema" class="youtube" target="_blank"></a></li>
                <!--<li><a href="#" class="instagram"></a></li>-->
            </ul>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="main/index.html" target="_self">ANA SƏHİFƏ</a></li>
                <li><a href="schedule/4/Afisha.html">AFİŞA</a></li>
                <li><a href="soon/5/SKORO.html">TEZLİKLƏ</a></li>
                <li><a href="pages/22/Bizim_kino.html">BİZİM KİNO</a></li>
                <li><a href="halls/6/Zallar.html">ZALLAR</a></li>
                <li><a href="contact/7/Elaqe.html">ƏLAQƏ</a></li>
            </ul>
        </nav>
    </header>    <!-- HEADER END -->
    <!-- CONTENT BEGINS -->
    

     @RenderBody()


    <!-- FOOTER BEGINS -->
    <footer id="footer">
        <div>
            <p>© 2014 Nizami cinema. All Right Reserved.</p>
            <div class="counters">
                <ul>
                    <li><img src="img/digits.gif" alt=""></li>
                    <li><img src="img/hit.gif" alt=""></li>
                </ul>
            </div>
        </div>
    </footer>    <!-- FOOTER END -->

    <script type="text/javascript" src="../code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/video.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</body>

<!-- Mirrored from nizamicinema.az/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Dec 2021 10:50:48 GMT -->
</html>